@font-face {
  font-family: 'icon_category';
  src:  url('fonts/icon_category.eot?w6e535');
  src:  url('fonts/icon_category.eot?w6e535#iefix') format('embedded-opentype'),
    url('fonts/icon_category.ttf?w6e535') format('truetype'),
    url('fonts/icon_category.woff?w6e535') format('woff'),
    url('fonts/icon_category.svg?w6e535#icon_category') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_cate_"], [class*=" icon_cate_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_category' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_cate_accounting:before {
  content: "\e900";
}
.icon_cate_books:before {
  content: "\e901";
}
.icon_cate_decorating:before {
  content: "\e902";
}
.icon_cate_disco-ball:before {
  content: "\e903";
}
.icon_cate_paint-brush:before {
  content: "\e904";
}
.icon_cate_picnic:before {
  content: "\e905";
}
.icon_cate_room-key:before {
  content: "\e906";
}
.icon_cate_fast-casual-category:before {
  content: "\e907";
}
.icon_cate_fine-dining-category:before {
  content: "\e908";
}
.icon_cate_campervans-category:before {
  content: "\e909";
}
.icon_cate_cars-category:before {
  content: "\e90a";
}
.icon_cate_cats-category:before {
  content: "\e90b";
}
.icon_cate_cooking-category:before {
  content: "\e90c";
}
.icon_cate_creative-design-category:before {
  content: "\e90d";
}
.icon_cate_decorations-category:before {
  content: "\e90e";
}
.icon_cate_dogs-category:before {
  content: "\e90f";
}
.icon_cate_equipment-category:before {
  content: "\e910";
}
.icon_cate_events-nightlife-category:before {
  content: "\e911";
}
.icon_cate_exotics-category:before {
  content: "\e912";
}
.icon_cate_fast-food-category:before {
  content: "\e913";
}
.icon_cate_fish-category:before {
  content: "\e914";
}
.icon_cate_food-truck-category:before {
  content: "\e915";
}
.icon_cate_hotel-stuff-category:before {
  content: "\e916";
}
.icon_cate_it-software-category:before {
  content: "\e917";
}
.icon_cate_kids-stuff-category:before {
  content: "\e918";
}
.icon_cate_land-estate-category:before {
  content: "\e919";
}
.icon_cate_languages-category:before {
  content: "\e91a";
}
.icon_cate_management-category:before {
  content: "\e91b";
}
.icon_cate_media-category:before {
  content: "\e91c";
}
.icon_cate_missing-category:before {
  content: "\e91d";
}
.icon_cate_music-bands-category:before {
  content: "\e91e";
}
.icon_cate_pets-for-sale-category:before {
  content: "\e91f";
}
.icon_cate_restaurant-buffet-category:before {
  content: "\e920";
}
.icon_cate_rideshare-category:before {
  content: "\e921";
}
.icon_cate_secretarial-pa-category:before {
  content: "\e922";
}
.icon_cate_share-category:before {
  content: "\e923";
}
.icon_cate_studio-equipment-category:before {
  content: "\e924";
}
.icon_cate_teaching-category:before {
  content: "\e925";
}
.icon_cate_to-rent-category:before {
  content: "\e926";
}
.icon_cate_to-sale-category:before {
  content: "\e927";
}
.icon_cate_vans-truck-category:before {
  content: "\e928";
}
.icon_cate_voluntary-work-category:before {
  content: "\e929";
}
.icon_cate_wanted-category:before {
  content: "\e92a";
}
.icon_cate_accessories-category:before {
  content: "\e92b";
}
.icon_cate_accountancy-category:before {
  content: "\e92c";
}
.icon_cate_admin-pa-category:before {
  content: "\e92d";
}
.icon_cate_appliances-category:before {
  content: "\e92e";
}
.icon_cate_apprenticeships-category:before {
  content: "\e92f";
}
.icon_cate_artists-category:before {
  content: "\e930";
}
.icon_cate_associations-category:before {
  content: "\e931";
}
.icon_cate_audio-stereo-category:before {
  content: "\e932";
}
.icon_cate_auto-parts-category:before {
  content: "\e933";
}
.icon_cate_banking-category:before {
  content: "\e934";
}
.icon_cate_bikes-category:before {
  content: "\e935";
}
.icon_cate_birds-category:before {
  content: "\e936";
}
.icon_cate_business-managment-category:before {
  content: "\e937";
}
.icon_cate_cafe-or-bistro-category:before {
  content: "\e938";
}
